body {
    font-family: $font-body;
    background-color: $background-color;
    color: $text-color-light; 
    line-height: 1.6;
}

h1, h2, h4 {
    font-family: $font-title;
    color: $text-color-light; 
}