@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$primary-color: #b80000;
$secondary-color: #790000;


$font-title: 'Rajdhani', sans-serif;
$font-body: 'Raleway', sans-serif;

$rajdhani-light: 300;
$rajdhani-regular: 400;
$rajdhani-medium: 500;
$rajdhani-semibold: 600;
$rajdhani-bold: 700;