@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$primary-color: #e50914; 
$secondary-color: #221f1f;
$background-color: #141414; 
$text-color-light: #ffffff;


$font-title: 'Rajdhani', sans-serif;
$font-body: 'Raleway', sans-serif;

$rajdhani-light: 300;
$rajdhani-regular: 400;
$rajdhani-medium: 500;
$rajdhani-semibold: 600;
$rajdhani-bold: 700;