.container {
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between; 
    align-items: flex-start;
    padding: 20px;
}

.lista-item {
    width: 100%; 
    border-bottom: 1px solid #cacaca;
    padding: 20px;
    background-color: $secondary-color; 
    color: $text-color-light; 
}

.content { 
    width: 65%; 
    color: $text-color-light;
}

.dark-alert {
    background-color: #343a40; 
    color: #ffffff; 
}